h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
div{
    background-color: brown;
    
}
.jango{
    width: 200px;
    border-width: 2px;
    border-radius: 50%;
    align-items: center;
}

